<!DOCTYPE html>
<html>
<head>
  <title>Redirect</title>
  <meta http-equiv="refresh" content="1; url='{{ page }}'" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    body {
      font-family: 'Roboto', sans-serif;
      margin: 24px;
    }

    input {
      margin-bottom: 24px;
    }

    .status {
      font-style: italic;
    }
  </style>
</head>
<body>
  <h1>Login</h1>
  <form action='login' method='POST'>
  <span class="status">{{ status }}</span>
</body>
</html>
